//package cn.edu.sjtu.dclab.datatemplate;
package ${package};
import ${package}.${classname};
import java.util.List;
import java.io.IOException;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.Map;

import org.json.JSONArray;
import org.json.JSONException;
import org.json.JSONObject;

import cn.edu.sjtu.dclab.urlutil.*;

public class ${classname}Service {
	public static final String baseurl = Urlstr.url;
	public static final String db = new String("${classname}").toLowerCase();
	
	public static ${classname} get${classname}byid(int id) throws IOException, JSONException
	{
		String urlStr = baseurl + "/" + db + "/" + id;
		Map<String, Object> param = new HashMap<String, Object>();
		String ${classname}str = Urlutil.util_get(urlStr, param);
		return new ${classname}(new JSONObject(${classname}str));
	}	
	
	public static List<${classname}> get${classname}s(Map<String, Object> param) throws IOException, JSONException
	{
		String urlStr = baseurl + "/" + db + "/list";
		String ${classname}liststr = Urlutil.util_get(urlStr, param);
		JSONArray array = new JSONArray(${classname}liststr);
		List<${classname}> ${classname}list = new ArrayList<${classname}>();
		for(int i = 0; i < array.length(); i++)
		{
			JSONObject object = (JSONObject)array.get(i);
			${classname}list.add(new ${classname}(object));
		}
		return ${classname}list;
	}
	
	public static String delete${classname}byid(int id) throws IOException, JSONException
	{
		String urlStr = baseurl + "/" + db + "/" + id;
		Map<String, Object> param = new HashMap<String, Object>();
		String retstr = Urlutil.util_delete(urlStr,param);
		JSONObject jsonObj = new JSONObject(retstr);
		String ret = jsonObj.getString("status");
		return ret;
	}
	
	public static int create${classname}(Map<String, Object> param) throws JSONException, IOException
	{
		String urlStr = baseurl + "/" + db;
		String retstr = Urlutil.util_post(urlStr, param);
		JSONObject jsonObj = new JSONObject(retstr);
		int ret = jsonObj.getInt("id");
		return ret;		
	}
	
	public static int update${classname}(int id, Map<String, Object> param) throws IOException, JSONException
	{
		String urlStr = baseurl + "/" + db + "/" + id;
		String retstr = Urlutil.util_put(urlStr, param);
		JSONObject jsonObj = new JSONObject(retstr);
		int ret = jsonObj.getInt("id");
		return ret;			
	}
}
